.card {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1;
    padding: 1.25rem;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.9);
    gap: 1rem;
}

header p {
    margin: 1rem 0;
    font-weight: 600;
}

header img {
    width: 100%;
}

.textContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.textContent h1 {
    text-align: center;
}

.learnMore {
    text-align: center;
}

.learnMore a {
    text-decoration: underline;
    color: #f2f2f2;
}

.learnMore a:hover {
    color: #e3bb88;
}

@media only screen and (max-width: 700px) {
    .card {
        min-height: auto;
    }
}
